@font-face {
    font-family: "Presque Light";
    src: url("../fonts/Presque-Light.otf");
  }

@font-face {
    font-family: "Presque Regular";
    src: url("../fonts/Presque-Regular.otf");
  }

@font-face {
    font-family: "Presque";
    src: url("../fonts/Presque.otf");
  }


body{
    margin:0;
}

.black_color{
    background-color: var(--secondary-color);
}

/* Section header */

.header__desktop{
    width: 100%;
    background-image: linear-gradient(rgba(7, 7, 7, 0.247), rgba(7, 7, 7, 0.247)), url('../../assets/images/header_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header__desktop-title{
    text-align: center;
    margin-top: 8em;
    margin-bottom: 2.4em;
}

.header__desktop-title span{
    color:#fff;
    font-family: 'Presque Regular';
    font-size: 8em;
}

.header__desktop-title h1{
    color:#fff;
    font-family: 'Presque Light';
    font-size: 20em;
    letter-spacing: 0.2em;
    margin:0;
}

.header__desktop__action{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16em;
}

.header__desktop__action__container-search{
    width: 50%;
    margin-right: 2.4em;
}

.header__desktop-pi{
    display: flex;
    justify-content: space-between;
}


/* Section sur le Japon */

.main_container{
    position:relative;
}

.lejapon_word{
    position: absolute;
    color:var(--secondary-color);
    font-size: 10em;
    top:-80px;
    left:-80px;
    font-family: 'Fellix SemiBold';
    text-shadow: var(--primary-color) 1px 1px, var(--primary-color) -1px 1px, var(--primary-color) -1px -1px, var(--primary-color) 1px -1px
    /* z-index: 80; */
}

.lejapon{
    position: relative;
    margin-top:20em;
    margin-bottom:20em;
    display: flex;
}

.lejapon__content-left{
    position: relative;
    width: 40%;
    padding-bottom: 30%;
}

.lejapon__content-left img{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
    z-index:2;
}

.lejapon__content-right{
    width: 80%;
}

.lejapon__content__right-text{
    margin-left: 8em;
}

.lejapon__content__right-text h2{
    color:#fff;
    font-size: 3.8em;
    font-family: 'Fellix SemiBold';
    margin:0;
}

.lejapon__content__right-text p{
    color:#fff;
    font-size: 1.8em;
    font-family: 'Fellix Regular';
    line-height: 1.4;
    margin-bottom: 4em;
}

.lejapon__content-right a {
    display: inline-block;
    margin-bottom: 4em;
}

.lejapon__content__right-img{
    position: relative;
    width: 100%;
    padding-bottom: 40%;
}

.lejapon__content__right-img img{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    z-index:2;
    margin-left: 1.6em;
}


/* Section Parcourez nos lieux insolites */

.pi{
    margin-top: 20em;
    margin-bottom: 20em;
}

.pi__content{
    display:flex;
    align-items: center;
}

.pi__content-title h2{
    font-size: 3.8em;
    font-family: 'Fellix SemiBold';
    color:#fff;
}

.pi__content-title{
    margin-right: 4em;
}

.pi p {
    color:#fff;
    font-family: 'Fellix Regular';
    font-size: 1.8em;
    line-height: 1.4;
    width: 50%;
}

.pi__list__top, .pi__list__bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 8em;
    margin-bottom:8em;
}


.pi__list__top span, .pi__list__bottom-center span{
    color: #fff;
    font-size: 16em;
    font-family: 'Presque';
    text-align: center;
}

.pi__list__top-center,
.pi__list__bottom-right,
.pi__list__bottom-left{
    width: 250px;
    height: 4px;
    background: var(--primary-color);
    margin-left: 5em;
    margin-right: 5em;
}


