html{
  font-size: 62.5%;
  font-size: calc(1em * 0.625);
  /* 1em = 10px */
  --primary-color: #ce1137;
  --medium-red: #e06880;
  --regular-red: #eda8b6;
  --light-red: #fbe9ed;
  --secondary-color: #1d1d1d;
  --medium-black: #6f6f6f;
  --regular-black: #adadad;
  --light-black: #eaeaea;
  --grey-color: #f1f1f1;
  }

@font-face {
    font-family: "Fellix Light";
    src: url("../fonts/Fellix-Light.ttf");
  }

  @font-face {
    font-family: "Fellix Regular";
    src: url("../fonts/Fellix-Regular.ttf");
  }

  @font-face {
    font-family: "Fellix Italic";
    src: url("../fonts/Fellix-RegularItalic.ttf");
  }

  @font-face {
    font-family: "Fellix Medium";
    src: url("../fonts/Fellix-Medium.ttf");
  }

  @font-face {
    font-family: "Fellix SemiBold";
    src: url("../fonts/Fellix-SemiBold.ttf");
  }

  @font-face {
    font-family: "Fellix Bold";
    src: url("../fonts/Fellix-Bold.ttf");
  }